:root {
    --primary : #fcd0b3;
    --primary-bg : #161a34;
    --crimson : #D7263D;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: none;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    background: rgba(22,26,52,1);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--primary);
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(19, 18, 18); 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(49, 47, 47); 
}

.navigation {
    background-color: black;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.nav-list {
    display: flex;
    justify-content: center;
    text-align: center;
}

.main-title {
    margin: 85px 15px 45px 15px;
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 1.5px;
}
.list-content {
    margin: 0px 15px 0px 15px;
    padding: 0px 7px 0px 7px;
    display: inline-block;
    list-style: none;
    font-size: large;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-left: 2px solid var(--primary);
}

.list-content-link {
    display: inline-block;
    list-style: none;
    font-size: large;
    color: var(--primary);
    cursor: pointer;
    text-decoration: none;
}

.list-content-link:hover {
    color: var(--crimson);
}

.banner {
    background-color: var(--primary-bg);
    color: var(--primary);
    text-align: center;
    padding: 5px;
    z-index: 0;
}

#tags {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
 
.tag {
    width: 100px;
    background-color: var(--primary);
    color: var(--primary-bg);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: medium;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
}

.title-logo {
    height: 40px;
    filter:invert();
}

.title-1 {
    color:var(--crimson);
}

.title-2 {
    color: yellow;
}

hr {
    border: 1px solid var(--primary);
}

.logo-main {
    float: left;
    margin: 25px 0px 0px 140px;
}

.search-col {
    padding: 13px;
    width: 260px;
    font-size: 1rem;
    background-color:#0d0e14;
    border-radius: 7px;
    color: var(--primary);
    border: none;
    float: right;
    margin: 25px 140px 0px 0px;
}

.main-list {
    background: rgb(92,129,156);
    background: linear-gradient(0deg, rgba(92,129,156,1) 14%, rgba(22,26,52,1) 100%);
    padding: 15px;
    color: var(--primary);
    margin-top: 5px;
}

.accordion {
    background-color: var(--primary-bg);
    color: var(--primary);
    cursor: pointer;
    padding: 13px;
    border: 1px solid var(--primary);
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 7px;
    margin-top: 10px;
    width: 326px;
    margin-left: -5px;
}
  
.active, .accordion:hover {
    background-color: var(--primary);
    color: var(--primary-bg);
}
  
.panel {
    padding: 0 18px;
    background-color: var(--primary-bg);
    margin: 0px 15px 0px 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
  
.movie-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-col {
    width: 305px;
    max-height: 593px;
    margin: 12px;
    padding: 15px;
    border-radius: 7px;
    background: rgb(64,55,145);
    background: linear-gradient(211deg, rgba(64,55,145,1) 13%, rgba(22,26,52,1) 100%);
    color: var(--primary);
    letter-spacing: 1px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Rubik',sans-serif;
    border: 1px solid rgb(0, 0, 0);
}

.movie-col:hover {
    box-shadow: rgba(252, 208, 179, 1) 0px 0px 0px 2px, rgba(252, 208, 179, 0.39) 0px 1px 0px inset;
}

span.green {
    color: lightgreen;
    padding: 5px;
    background-color: #121422;
    border-radius: 7px;
}

span.orange {
    color: orange;
    padding: 5px;
    background-color: #121422;
    border-radius: 7px;
}

span.red {
    color:var(--crimson);
    padding: 5px;
    background-color: #121422;
    border-radius: 7px;
}

.lang {
    background-color: var(--primary-bg);
    padding: 7px;
    border-radius: 7px;
}

.title-movie-card {
    width: 295px;
    height: 65px;
    margin-bottom: 30px;
}

.overview-section {
    max-height: 380px;
}

.rating-star {
    letter-spacing: 0.8px;
}

.img-poster {
    height: 425px;
    width: 292px;
    border-radius: 7px;
}

.img-poster:hover {
    box-shadow: rgba(252, 208, 179, 0.5) 0px 0px 0px 2px, rgba(252, 208, 179, 0.39) 0px 1px 0px inset;
}

.more-button {
    padding: 10px;
    background-color: #121422;
    border-radius: 7px;
}

.more-button:hover {
    color: var(--crimson);
}

footer {
    padding: 15px;
    background-color: black;
    align-items: center;
    color: var(--primary);
    text-align: center;
}

.footer-icon {
    height: 65px;
    margin: 7px;
    
}

.img-logo-social-footer {
    width: 30px;
    height: 30px;
    filter: invert();
    margin: 10px;
    text-decoration: none;
}

#scroll-top-btn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(64,55,145); 
    color: var(--primary); 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 28px; 
    scroll-behavior: smooth;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.76);
  }
  
  #scroll-top-btn:hover {
    background-color: rgba(22,26,52,1);
  }

/*MOBILE*/
@media screen and (max-width: 768px) {
    body, html {
        background-repeat: no-repeat;
        scroll-behavior: smooth;
        scroll-snap-type: none;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .main-title {
        margin: 35px 15px 35px 15px;
    }
    .overview-section {
        max-height: 360px;
    }
    .logo-main {
        text-align: center;
        float: none;
        margin: 20px 0px 15px 0px;
    }
    
    .search-col {
        padding: 13px;
        width: 260px;
        font-size: medium;
        background-color:#0d0e14;
        border-radius: 7px;
        color: var(--primary);
        border: none;
        float: none;
        margin: 5px 0px 0px 0px;
    }

    .main-list {
        background: rgb(92,129,156);
        background: linear-gradient(0deg, rgba(92,129,156,1) 14%, rgba(22,26,52,1) 100%);
        padding: 15px;
        color: var(--primary);
        margin-top: 5px;
    }

    #scroll-top-btn {
        display: none; 
        position: fixed; 
        bottom: 15px; 
        right: 22px; 
        z-index: 99; 
        border: none; 
        outline: none; 
        background-color: rgb(64,55,145); 
        color: var(--primary); 
        cursor: pointer; 
        padding: 15px; 
        border-radius: 10px; 
        font-size: 28px; 
        scroll-behavior: smooth;
        box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.76);
      }
      .accordion {
        background-color: var(--primary-bg);
        color: var(--primary);
        cursor: pointer;
        padding: 18px;
        width: 285px;
        border: 1px solid var(--primary);
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        margin-top: 5px;
        margin-left: 0;
    }

}
